<%- contentFor('title') %>
    Pedido
<%- contentFor('main') %>
<button class="btn btn-outline-success mb-3 finalizarCompra"><a class="link-unstyled" href='/finalizar-pedido'>Finalizar Pedido</a></button>
<% items.forEach(function(item){ %>
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <div class="card-header">
            <h3><%= item.nome %></h3>
        </div>
        <div class="card-body m-1">
            <ul>
                <li><strong>Descrição:</strong> <%= item.descricao %> </li>
                <li><strong>Valor:</strong>R$ <%= item.valor %> </li>
                
            </ul>
            <form action="/adicionar-item/<%=item.id_restaurante%>" method="post">
                <input type="hidden" name="id" value="<%=item.id_item%>">
                <input type="hidden" name="nome" value="<%=item.nome%>">
                <input type="hidden" name="valor" value=<%=item.valor%>>
                <input type="number" min="0" name="quantidade"><br>
                <button id="addbutton" class="btn btn-outline-success bg-light">
                    Adicionar
                </button>
            </form>
        </div>
    </div>
<% }) %>



<style>
    .bg-light:hover{
        color: black;
    }

    

</style>


